@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: #ebdfd1;
    color: #38220f;
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: #38220f;
    color: #ebdfd1;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    position: sticky;
    top: 0;
}

.navbar-content {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    padding: 5px;
}

.navbar-content li {
    padding: 2px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}

.navbar-content li:hover {
    background-color: #38220f;
}

.navbar-content a {
    text-decoration: none;
    background-color: transparent;
    font-size: 1.05rem;
    transition: 200ms;
}

.navbar-content li:hover a {
    color: #ebdfd1;
}
